.Rhistory
.RData
rsconnect
*.docx
*.pdf
*.dat
.Rproj.user
Animation
Data_Mgt_Analysis_and_Graphics_R.Rproj
Class_Notes
Programming for Non-programmers
Data
figures/
Recordings_&_Blogs/
Slides/.+figures$
Slides/.+cache$
Slides/.RData
Slides/.*[.]md$
