* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
	font-family: serif, "Comic Sans MS", cursive, sans-serif;
	background-color: #EFF3F9;
}
main {
   width: 70%;
   margin: auto;
   background-color: #FFFFFF;
   border: 0.063em solid #CCCCCC; 
}
header {
	border-bottom: 0.063em solid #D3D3D3;
}
h1, h3 {
   padding: 0.125em;
   text-align: center;
	font-family: Georgia, serif, 'Tangerine', serif;
}	
h1 {	
   font-size: 48px;
	text-shadow: 4px 4px 4px #CCCCCC;
}
h3 {
   padding-bottom: 0.938em;
}
nav {
   background-color: #87CEFA;
   padding: 0.875em 1em;
}
nav a:first-child {
   margin-left: 35%;
}
nav a {
   background-color: #75B5DD;
	padding: 0.375em 0.625em;
	text-decoration: none;
	border: 0.125em solid #5396FC;
	border-radius: 0.375em;
	color: black;
}
nav a:visited {
	color: blue;
	text-decoration: underline;
}
nav a:hover {
	color: blue;
	font-weight: bold;
	text-decoration: underline;
	box-shadow: 0.125em 0.125em #5396FC;
}
nav a:active {
	color: yellow;
	text-decoration: underline;
}
figure {
   display: table;
}
#fig1 {
	margin: 5% auto 0;
}
#fig1:hover {
	border: 0.25em solid #FF8533;
	border-radius: 0.3125em;
	box-shadow: 0.625em 0.625em 0.313em #FFA366;
}
section:nth-of-type(2) {
   margin: 5% 40%;
}
#fig1 figcaption, #fig2 figcaption, #fig3 figcaption {
   display: table-caption;
   caption-side: top;
   font-size: 1.25em;
   font-weight: bold;
   text-align: center;
   padding: 0.313em;
}

#fig3:hover {
   border: 0.25em solid #FFB3B3;
   border-radius: 0.3125em;
   box-shadow: 0.625em 0.625em 0.313em #FFCCCC;
}
footer {
   text-align: center;
}
#social-media {
   display: inline-block;
   margin: auto;
   padding: 0.938em;
}
